*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}
body{
    background-color: whitesmoke;
}
.heading{
    display: flex;
    width: 500px;
    position: relative;
    left: 470px;
    justify-content: center;
}
.maincontainer{
    position: relative;
    top: 100px;
    left: 470px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#inc-card{
    display: flex;
    transform-style: preserve-3d;
    transition: 0.6s all ease-in-out;
}
#exp-card{
    display: flex;
    transform-style: preserve-3d;
    transition: 0.6s all ease-in-out;
}
.inc-back{
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.exp-back{
    backface-visibility: hidden;
    transform: rotateY(180deg);

}
.inc-front,.exp-front{
    height: 350px;
    width: 250px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lexend Deca', sans-serif;
    position: absolute;
    backface-visibility: hidden;
   
}
h1{
    font-family: 'Big Shoulders Display', cursive;
}
.inc-front{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
.exp-front{
    background-color: hsl(184, 100%, 22%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.title{

    display: flex;
    justify-content: space-around;
    width: 80%;

}
.title p{
    margin: 0;
    padding: 0;
    font-size: xx-large;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 900;

}
.inc-text p{
    
    margin: 0px;
    padding: 0px;
}
.add-inc button{
    background-color: hsl(31, 77%, 52%);
    position: relative;

    bottom: 20px;
    border:none;
    box-shadow: none;
    width: 180px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
  }
  .add-inc button span {
    font-family: 'Lexend Deca', sans-serif;

    
    background: hsl(31, 77%, 52%);
    background-color: hsl(31, 77%, 52%);
    color: white;
    font-size: large;
    display: block;
    position: absolute;
    bottom: 0px;
    width: 180px;
    height: 40px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 0px;
    margin:0;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .add-inc button span:nth-child(1) {
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;

    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    transform-origin: 50% 50% -20px;
    -webkit-transform-origin: 50% 50% -20px;
  }
  .add-inc button span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
 
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
   
    transform-origin: 50% 50% -20px;
  }
  .add-inc button:hover span:nth-child(1) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
     -webkit-transform: rotateX(0deg);
 
    transform: rotateX(0deg);
  }
  .add-inc button:hover span:nth-child(2) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    color: transparent;
    transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
  }


.exp-text p{
    margin: 0px;
    padding: 0px;
}
.add-exp button{
    background-color: hsl(184, 100%, 22%);
    position: relative;

    bottom: 20px;
    border:none;
    box-shadow: none;
    width: 180px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
  }
  .add-exp button span {
    font-family: 'Lexend Deca', sans-serif;

    
    background: hsl(184, 100%, 22%);
    background-color: hsl(184, 100%, 22%);
    color: white;
    font-size: large;
    display: block;
    position: absolute;
    bottom: 0px;
    width: 180px;
    height: 40px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 0px;
    margin:0;
    text-align: center;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
    transition: all .3s;
    -webkit-transition: all .3s;
  }
  .add-exp button span:nth-child(1) {
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;

    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
   
    transform-origin: 50% 50% -20px;
    -webkit-transform-origin: 50% 50% -20px;
  }
  .add-exp button span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
   
    transform-origin: 50% 50% -20px;
    -webkit-transform-origin: 50% 50% -20px;
  }
  .add-exp button:hover span:nth-child(1) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
 
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
  }
  .add-exp button:hover span:nth-child(2) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    color: transparent;
    transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
  }
  
.inc-back,.exp-back{
    height: 350px;
    width: 250px;
    background-color: hsl(31, 77%, 52%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lexend Deca', sans-serif;
    color: white;
   
}
.inc-back{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
.exp-back{
    background-color: hsl(184, 100%, 22%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.inc-back input{

    width: 200px;
    padding: 10px;
    border: 1px solid black;
}
.exp-back input{
    width: 200px;
    padding: 10px;
    border: 1px solid black;
}

.exp-back button{
    background-color: hsl(184, 100%, 22%);
}
.history{
    position: relative;
    top: 150px;
    left: 470px;
    width: 500px;
    height: fit-content;

    font-family: 'Lexend Deca', sans-serif;
}
.new-month{
    display: flex;
    justify-content: space-between;
}
.new-month button {
    font-family: 'Lexend Deca', sans-serif;
    background-image: linear-gradient(to right, #1D2B64 0%, #F8CDDA  51%, #1D2B64  100%);
    height: 25px;
    padding: 0px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border: 1px solid #1D2B64 ;
  }

  .new-month button:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
  }
.clear-btn{
    margin-top: 10px;
    width: 500px;
    display: flex;
    justify-content: flex-end;
}
.clear-btn button {
    font-family: 'Lexend Deca', sans-serif;
    background-image: linear-gradient(to right, #1D2B64 0%, #F8CDDA  51%, #1D2B64  100%);
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border: 1px solid #1D2B64 ;
  }

  .clear-btn button:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
  }
#li-el{
    display: flex;
    height: 40px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right:none;
    border-right: none;
    margin-top: 5px;
    border-radius: 8px;

}
.ulel-del{

    display: flex;
    align-content: center;
    width: 50px;
    justify-content: center;


}
.ulel-del button{
    
    background-color: none;
    cursor: grab;
    border: none;
}

.ulel-discription{

    padding-left: 10px;
    display: flex;
    align-items: center;
    width: 220px;
}
.ulel-date{

    display: flex;
    align-items: center;
    width: 100px;
}

.ulel-amount{

    padding-right: 10px;
    align-items: center;
    width: 110px;
    justify-content: flex-end;
    display: flex;

}
.ulel-color{
   
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    width: 10px;
}
@media screen and (max-width: 400px) {
   .heading{
    position: relative;
    display: flex;
    left: 80px;
    top: 20px;
    justify-content: flex-start;
   }
   .maincontainer{
    display: flex;
    position: relative;
    left: 50px;
   }
   .inc-front,.inc-back,.exp-front,.exp-back{
    border-radius: 0px;
   }
   .history{
    position: relative;
    left: 50px;
    width: 250px;
    height: fit-content;
    margin-bottom: 50px;
   }
   .clear-btn{
    width: 250px;
    margin-bottom: 30px;
   }
   #li-el{
    border:none;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
   }
   .ulel-del{
    display: flex;
    align-content: center;
    width: 30px;
    justify-content: center;
}
.ulel-del button{
    border-radius: 12px;

}
   .ulel-discription{
    font-size: small;

    padding-left: 10px;
    display: flex;
    align-items: center;
    width: 110px;
}
   .ulel-date{
    font-size: smaller;

    display: flex;
    align-items: center;
    width: 50px;
}

.ulel-amount{
    font-size: small;

    padding-right: 10px;
    align-items: center;
    width: 45px;
    justify-content: flex-end;
    display: flex;

}
.ulel-color{

    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    width: 5px;
}
.add-inc button,.add-inc button span,
.add-exp button,.add-exp button span
  {
    width: 90px;
    font-size: smaller;
  }
  .add-inc button{
   
    -webkit-perspective: 115px;
    perspective: 115px;
  }

  .add-inc button span:nth-child(1) {
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    transform-origin: 25% 25% -10px;
    -webkit-transform-origin: 25% 25% -10px;
  }
  .add-inc button span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
 
    transform: rotateX(0deg);
    -webkit-transform-origin: 25% 25% -10px;
   
    transform-origin: 25% 25% -10px;
  }
  .add-exp button{
   
    -webkit-perspective: 115px;
    perspective: 115px;
  }

  .add-exp button span:nth-child(1) {
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    transform-origin: 25% 25% -10px;
    -webkit-transform-origin: 25% 25% -10px;
  }
  .add-exp button span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
 
    transform: rotateX(0deg);
    -webkit-transform-origin: 25% 25% -10px;
   
    transform-origin: 25% 25% -10px;
  }
  
  

  }











         

 




  
  










  